
.description {
  text-shadow: 0 1px 0 #000000;
  color: #ffffff;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}
.initialDescription {
  display: inline-block;
  text-shadow: 0 1px 0 #000000;
  padding: 0;
  margin: -1px;
  border: none;
  font: inherit;
  line-height: 16px;
  background-color: transparent;
  outline: none;
  border-bottom: 1px dashed #1698d9;
  // text-decoration: none;
  cursor: pointer;
  color: #1698d9;
}
.disabledDescription {
  text-shadow: 0 1px 0 #000000;
  color: #ffff66;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}