
.card {
    flex: 0 0 33.333%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Trebuchet MS";
    position: relative;
    @media(max-width: 1120px) {
      flex: 0 0 50%;
    }
}

  .cardBorder {
    position: absolute;
    top: 0;
    left: 0;
  }
  .borderColor {
    stroke: #1698d9;
    stroke-width: 4px;
  }
  .borderColorHover {
    stroke: #2ea8e6;
    stroke-width: 4px;
  }
  .borderColorSelectedHover {
    stroke: #e62e7a;
    stroke-width: 4px;
  }

.border {
  width: 316px;
  height: 476px;
  position: relative;
  :hover {
    .weight {
      background-color: #2ea8e6;
    }
  }
}
.borderDisabled { 
  width: 316px;
  height: 476px;
  position: relative;
  & .main {
    opacity: 0.5;
    cursor: auto;
  }
  & .weight {
    background-color: #b3b3b3;
    }
  & .borderColor {
    stroke: #b3b3b3;
  }
}

.borderSelected {
  width: 316px;
  height: 476px;
  position: relative;
  & .borderColor {
    stroke: #d91667;
  }
  :hover {
    .weightSelected {
        background-color: #e62e7a;
    }
  }
}

.main {
  flex: 0 0 100%;
  background-image: url('../../images/cat.png');
  background-position: 4px 203px;
  background-repeat: no-repeat;
  padding: 5px 0 15px 49px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 316px;
  height: 476px;
  position: absolute;
  top: 0;
  left: 0;
}
 

  
.title {
  color: #666666;
  margin-bottom: 10px;
  font-size: 16px;
}

.titleHovered {
  color: #e62e7a;
  font-size: 16px;
  margin-bottom: 10px;
}
  
.brandname {
  color: #000000;
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
}
  
.taste {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 15px 0;
}

.amount {
  display: flex;
  color: #666666;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin: 0;
  span {
    font-weight: 400;
  }
}

.weight {
  align-self: flex-end;
  margin: 0 15px 0 0;
  border-radius: 50%;
  padding: 5px;
  width: 81px;
  height: 81px;
  background-color: #1698d9;
  display: flex;
  align-items: center;
  flex-direction: column;
  }
.weightSelected {
  align-self: flex-end;
  margin: 0 15px 0 0;
  border-radius: 50%;
  padding: 5px;
  width: 81px;
  height: 81px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #d91667;
  }
.top {
  color: #ffffff;
  font-size: 42px;
  margin-bottom: 0;
    }
.bottom {
  font-size: 21px;
  color: #ffffff;
  margin: 0;
  line-height: 16px;
  margin: 0;
    }

