
.description {
  text-shadow: 0 1px 0 #000000;
  color: #ffffff;
  font-size: 13px;
  line-height: 16px;
  margin: 15px 0 30px 0;
  text-align: center;
}
.initialDescription {
  text-decoration: underline dotted;
  color: #1698d9;
  cursor: pointer;
}
.disabledDescription {
  text-shadow: 0 1px 0 #000000;
  color: #ffff66;
  font-size: 13px;
  line-height: 16px;
  margin: 15px 0 30px 0;
  text-align: center;

}