@import './null.scss';
@font-face {
	font-family: 'Exo';
	font-display: swap;
	src: url("../fonts/Exo2.0-Thin.woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Trebuchet MS';
	font-display: swap;
	src: url("../fonts/Trebuchet-MS.woff");
	font-weight: normal;
	font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 45px;
  overflow: hidden;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%), url('../images/wrapperBackground.png');
  background-repeat: repeat;
  display: flex;
  display: -ms-flexbox;
  align-items: space-around;
  flex-direction: column;
  -ms-flex-direction: column;
  flex-wrap: wrap;
  -ms-flex-wrap:wrap;
  justify-content: center;
  @media(max-width: 1120px) {
    padding: 20px 0px;
  }
  @media(max-width: 320px) {
    display: block;
    overflow: scroll;
  }
}

.text {
  text-shadow: 0 1px 0 #000000;
  color: #ffffff;
  font-family: "Exo";
  font-size: 36px;
  text-align: center;
  margin: 0 0 50px 0;
  flex: 0 1 100%;
  @media(max-width: 380px) {
    font-size: 24px;
    margin-bottom: 15px;
  }

}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  @media(max-width: 1120px) {
    flex-wrap: wrap;
  }
  @media(max-width: 320px) {
    justify-content: flex-start;
  }
}

